.bottom {
    background-color: #27DE9C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 400px;
    position:absolute;
    bottom: 5%;
  }

  h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  