body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
  }

  h1 {
    width: 350px;
height: 74px;
font-style: muotoTrial-Black;
font-weight: 900;
font-size: 35.055px;
line-height: 37px;
/* or 105% */

letter-spacing: -0.02em;
text-transform: uppercase;
font-feature-settings: 'liga' off;

color: #000000;
  }

  .bothButtons {
	display: flex;
	position: relative;
	width: 350px;
	height: 271px;
	background: #FFFFFF;
	margin-top: 20px;
	border-radius: 10px;
	text-align: left;
  }
  
  .bold {
	font-weight: 700;
	margin-top: 10px;
	margin-left: 10px;
  }
 
  
  .button-text {
  position: absolute;
  margin-top: 35px;
  left: 15px;
  text-align: left;
  width: 100%;
}

.headwidth {
	max-width: 230px;
}

.myButton {
    text-align: center;
	background-color:#44c767;
	border-radius:28px;
	border:6px solid #18ab29;
    margin: 20px;
    max-width: 200px;
	display:grid;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:26px;
	padding:32px 35px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.center {
    display: grid;
    align-items: center;
    justify-content: center;
}
