body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
  }

  h1 {
    width: 350px;
height: 74px;
font-style: muotoTrial-Black;
font-weight: 900;
font-size: 35.055px;
line-height: 37px;
/* or 105% */

letter-spacing: -0.02em;
text-transform: uppercase;
font-feature-settings: 'liga' off;

color: #000000;
  }

  input[type="text"],
  input[type="tel"] {
    width: 100%;
    padding: 16px 20px;
    margin: 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;

  }

  .backbutton {
    max-width: 30px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .bottom {
    background-color: #27DE9C;
    color: white;
  }

  .button {
    height: 32px;
  }