:root {
  --transparent: #fff0;
  --green: #27de9c;
  --hover-grey: #999999;

  /* light mode styles */
  --black: #000;
  --white: #fff;
  --lightgrey: #fafafa;

  /* fonts */
  --font: "Muoto";

  --black: 800;
  --bold: 600;
  --regular: 400;
}

/* fonts */

@font-face {
  font-family: "Muoto";
  src: url("../fonts/MuotoTrial-Black.otf") format("opentype");
  font-weight: 800;
}
@font-face {
  font-family: "Muoto";
  src: url("../fonts/MuotoTrial-Bold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Muoto";
  src: url("../fonts/MuotoTrial-Regular.otf") format("opentype");
  font-weight: 400;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
