:root {
  --transparent: #fff0;
  --yellow: #fed330;
  --hover-grey: #999999;

  /* light mode styles */
  --black: #000;
  --white: #fff;
  --lightgrey: #fafafa;

  /* dark mode styles */
  --darkmode-darkgrey: #101010;
  --darkmode-lightgrey: #191818;

  /* fonts */
  --headline: "Helvetica Now Display";
  --bodycopy: "Helvetica Now Display";
  --bold: 800;
  --regular: 400;
}

/* highlight */
::selection {
  background: var(--yellow); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--yellow); /* Gecko Browsers */
}

/* fonts */

@font-face {
  font-family: "Helvetica Now Display";
  src: url("../fonts/HelveticaNowDisplay-Bold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("../fonts/HelveticaNowDisplay-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("../fonts/HelveticaNowText-Regular.otf") format("opentype");
  font-weight: 400;
}
