#video-container {
    position: relative;
    max-width: 390px;
    height: auto;
  }

  #video {
    max-width: 390px;
    height: auto;
  }

  #button-container {
    margin-top: 20px;
  }

  .backbutton {
    max-width: 30px;
    height: auto;
  }

  .button {
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    position:relative;
    margin-top:100%;
  }
  
  #image-container img {
    max-width: 390px;
    max-height: 420px;
    height: auto;
  }
  
  #upload-label {
    padding: 10px;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  #upload-label:hover {
    background-color: #2e2e2e;
  }

  .button:hover {
    background-color: #2e2e2e;
  }
  
  #upload-btn {
    display: none;
  }
  